<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="fengx_2" class="com.fengx.spring_02.impltype.User">
        <constructor-arg value="1"/>
        <property name="name" value="Fengx"/>
    </bean>

    <bean id="favorites" class="java.lang.String">
        <constructor-arg value="写代码、睡觉"/>
    </bean>

    <!-- 开启注解能力 -->
    <context:component-scan base-package="com.fengx.spring_02"/>

</beans>